body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("tanis-case.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
 
header {
    /* background-color: rgba(61, 61, 61, 0.7); */
    background-color: rgba(104, 181, 245, 0.7);
    color: #fff;
    padding: 20px 0;
}
 
header .logo {
    float: left;
    margin-left: 20px;
}
 
header .social-icons {
    float: right;
    margin-right: 20px;
}
 
header .menu {
    text-align: center;
    text-indent: -30px;
}
 
header .menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 30px;
    display: inline-block;
    transition: transform 0.3s ease;
}
 
header .menu a:hover {
    text-decoration: underline;
    transform: scale(1.2);
} 
 
header .menu a:hover {
    text-decoration: underline;
}
#locatie {
    text-align: center;
    text-indent: -40%;
    position: absolute;
    top: 30%;
    right: 65%;
    z-index: 1;
}
#contact {
    text-align: center;
    position: absolute;
    top: 30%;
    right: 46.5%;
    z-index: 1;
}
#social {
    text-align: center;
    text-indent: 40%;
    position: absolute;
    top: 30%;
    right: 1%;
    width: 100%;
    z-index: 1;
}
#locatie-tekst {
    text-align: center;
    text-indent: 40%;
    position: absolute;
    top: 33%;
    right: 54%;
    width: 30%;
    z-index: 1;
}
#contact-tekst{
    text-align: center;
    text-indent: 40%;
    position: absolute;
    top: 36%;
    right: 33%;
    width: 63%;
    z-index: 1;
}
#contact-tekst2{
    text-align: center;
    text-indent: 40%;
    position: absolute;
    top: 40%;
    right: 20.5%;
    width: 63%; 
    z-index: 1;
}
#contact-tekst3{
    text-align: center;
    text-indent: 40%;
    position: absolute;
    top: 40%;
    right: 33%;
    width: 63%;
    z-index: 1;
}
#social-tekst{
    text-align: center;
    text-indent: 40%;
    position: absolute;
    top: 34%;
    right: 11%;
    width: 40%;
    z-index: 1;
}
#background1 {
    transition: transform 0.3s;
    margin: 0 19px;
    display: inline-block;
    height: 390px;
    width: 1100px;
    background-color: rgba(134, 255, 140, 0.7);
    position: absolute;
    top: 30%;
    right: 20%;
}

#kaart{
    position: absolute;
    margin-top: -6px;
    top: -2%;
    right: 62%;
    height:280px;
    width:350px;
}

.footer {
    background-color: rgba(51, 51, 51, 0.7);
    margin-top: 45.1%;
    padding: -10px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 31px;
}

#footerText {
    color: #fff;
    text-align: center;
    position: relative;
    left: 41%;
    top: 25%;
    height: 10px;
    width: 400px;
}